<!DOCTYPE html>
<html lang="">
    <head>
        <title>Contacts.app</title>
        <meta name="description" content="Manage and organize your contacts">
        <meta name="keywords"
              content="Contact Management, Address Book, Contact Organizer, Manage Contacts, Contact Storage, Contact Information, Address Book App, Contact List, Contact Sync, Contact Database">
        <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
        <main class="flow-gap">
            <header>
                <h1>Contacts.app</h1>
            </header>
            {% for message in messages %}<div class="box warn">{{ message }}</div>{% endfor %}
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
