{% extends "contactsapp/base.html" %}
{% block content %}
    {% include "contacts/archive_ui.html" %}
    <form action="{% url 'contacts' %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search"
               type="search"
               name="q"
               value="{{ search | default:'' }}"
               hx-get="{% url 'contacts' %}"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-sync="this:replace"
               hx-indicator="#indicator" />
        <input type="submit" value="Search" />
        {% include "contacts/indicator.html" with indicator_id="indicator" %}
    </form>
    <form x-data="{selected: []}"
          @keyup.escape.document="$dispatch('close-menu')">
        <div x-cloak x-show="selected.length > 0">
            <div class="box info tool-bar">
                <span x-text="selected.length"></span>
                contacts selected
                <button type="button"
                        class="bad bg color border"
                        hx-delete="{% url 'contacts' %}"
                        hx-trigger="confirmed"
                        hx-target="body"
                        @click="confirm(`Delete ${selected.length} contacts?`) && $dispatch('confirmed')">
                    Delete
                </button>
                <hr aria-orientation="vertical">
                <button type="button" @click="selected = []">Cancel</button>
            </div>
        </div>
        <table class="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% include "contacts/list.html" %}
            </tbody>
        </table>
    </form>
    <p>
        <a href="{% url 'contacts_create' %}">Add Contact</a>
        <span hx-get="{% url 'contacts_count' %}"
              hx-trigger="updatecount from:body, intersect once">
            {% include "contacts/indicator.html" with indicator_id="indicator-counts" %}
        </span>
    </p>
{% endblock content %}
