{% extends "contactsapp/base.html" %}
{% block content %}
    <form action="{% url 'contacts' %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search"
               type="search"
               name="q"
               value="{{ search | default:'' }}"
               hx-get="{% url 'contacts' %}"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="#indicator" />
        <input type="submit" value="Search" />
        {% include "contacts/indicator.html" with indicator_id="indicator" %}
    </form>
    <table class="width:100%">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include "contacts/list.html" %}
        </tbody>
    </table>
    <p>
        <a href="{% url 'contacts_create' %}">Add Contact</a>
        <span hx-get="{% url 'contacts_count' %}" hx-trigger="revealed">
            {% include "contacts/indicator.html" with indicator_id="indicator-counts" %}
        </span>
    </p>
{% endblock content %}
