{% for contact in contacts %}
    <tr>
        <td>{{ contact.first }}</td>
        <td>{{ contact.last }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
            <a href="{% url 'contacts_update' pk=contact.id %}">Edit</a>
            <a href="{% url 'contacts_crud' pk=contact.id %}">View</a>
            <a id="inline-delete-btn-{{ contact.id }}"
               hx-delete="{% url 'contacts_crud' pk=contact.id %}"
               hx-target="closest tr"
               hx-swap="outerHTML"
               hx-confirm="Are you sure you want to delete this contact?"
               class="bad color">Delete</a>
        </td>
    </tr>
{% endfor %}
{% if page_obj.has_next %}
    <tr>
        <td colspan="5" class="text-align:center">
            <span hx-target="closest tr"
                  hx-trigger="revealed"
                  hx-swap="outerHTML"
                  hx-select="tbody > tr"
                  hx-get="{% url 'contacts' %}?page={{ page_obj.next_page_number }}">Loading more...</span>
        </td>
    </tr>
{% endif %}
