{% extends "contactsapp/base.html" %}
{% block content %}
    <form action="{% url 'contacts' %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ search | default:'' }}" />
        <input type="submit" value="Search" />
    </form>
    <table class="width:100%">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.first }}</td>
                    <td>{{ contact.last }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <a href="{% url 'contacts_update' pk=contact.id %}">Edit</a>
                        <a href="{% url 'contacts_detail' pk=contact.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{% url 'contacts_create' %}">Add Contact</a>
    </p>
{% endblock content %}
