{% extends "contactsapp/base.html" %}
{% block content %}
    <form action="{% url 'contacts_new' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Contact values</legend>
            <p>
                <label for="email">Email</label>
                {{ form.email }}
                {% for error in form.email.errors %}<p class="box bad">{{ error }}</p>{% endfor %}
            </p>
            <p>
                <label for="first">First Name</label>
                {{ form.first }}
                {% for error in form.first.errors %}<p class="box bad">{{ error }}</p>{% endfor %}
            </p>
            <p>
                <label for="last">Last Name</label>
                {{ form.last }}
                {% for error in form.last.errors %}<p class="box bad">{{ error }}</p>{% endfor %}
            </p>
            <p>
                <label for="phone">Phone</label>
                {{ form.phone }}
                {% for error in form.phone.errors %}<p class="box bad">{{ error }}</p>{% endfor %}
            </p>
            <button>Save</button>
        </fieldset>
    </form>
    <p>
        <a href="{% url 'contacts' %}">Back</a>
    </p>
{% endblock content %}
